@import url(http://fonts.googleapis.com/css?family=Jura:300,400,500,600);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
.logo {
  float: left;
}

.diary-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.diary-post-container {
  position: relative;
  padding-left: 50px;
}

.diary-published {
  position: absolute;
  width: 50px;
  left: 25px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

.diary-date {
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: bold;
  color: #222;
  font-size: 12px;
}

.diary-year {
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: 300;
  color: #777;
  font-size: 12px;
}

.diary-post {
  padding-left: 50px;
  padding-bottom: 60px;
  margin: 0 auto;
  border-left: 1px solid #999;
}

.diary-post-container:last-child .post {
  padding-bottom: 10px;
}

.diary-container h1 {
  font-family: Open Sans;
  font-weight: bold;
  color: #222;
  font-size: 36px;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.diary-container h2 {
  font-family: Open Sans;
  font-weight: 300;
  color: #777;
  font-size: 26px;
  margin: 0;
}

.diary-pub-date {
  font-family: Open Sans;
  color: #666;
  font-size: 12px;
}

.diary-post img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  float: left;
  margin-right: 15px;
}

.diary-container p {
  font-family: Open Sans;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
  margin-top: 0;
}

.diary-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-bottom: 50px;
}

.diary-container li {
  display: inline-block;
  padding: 0 10px;
  font-family: Jura;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 55px;
}
