.list_container div {
	width: 300px;
	background: #fff;
	padding: 15px;
	padding-bottom: 15px;
	margin: 15px;
	box-shadow: 5px 5px 10px #cccccc;
}

.list_container div img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.list_container div h5{
	font-size:1.4em;
	text-align:center;
}


.list_container div p {
	text-align:center;
	font-family: "맑은 고딕", 돋움;
	display:inline-block;
	padding-right:10px;
	color: #333;
	margin: 0;
	padding: 10px;
}

.list_content{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap; 
	font-family: "맑은 고딕", 돋움;
	text-align:center;
	padding-right:10px;
	color: #333;
	margin: 0;
	padding: 10px;
}