/*

Volton Template

http://www.templatemo.com/tm-441-volton

*/

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'robotoregular';
  overflow-x: hidden;
}

a {
  color: #006699;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
a:hover {
  color: #555555;
}

h1, h2, h3, h4, h5 {
  color: #555555;
}

::-webkit-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.top_button {
	margin:10px 10px 10px 0px;
}

@media screen and (max-width: 990px) {
  .top_button {
    width: 70%;
  }
}



.top_button button{
	margin-left: 10px;
}

.main-content,
.banner-bg {
  padding-top: 230px;
  float: right;
  width: 80%;
  background-color:white;
	  
}


@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}

.content-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 992px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

h4.widget-title {
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 40px;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0;
}

.page-section {
  padding-top: 80px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  padding-top:71px;
  float: left;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  color: white;
  overflow-y: hidden;
}

.sidebar-menu .sidebar-service li a{
  margin: 10px 10px 10px 18px;
  padding: 15px 85px;
  display: block;
  float:left;
  color: #404040;
  font-size: 14px;
}

.sidebar-service li a i{
  margin-right: 15px;
  font-size: 24px;
  color: dodgerblue;
}

.sidebar-menu .sidebar-service li a:hover {
  background: #d9d9d9;
}
.sidebar-menu .sidebar-service li a.active {
  background: #d9d9d9;
}
.sidebar-menu .sidebar-service li a.active:hover {
  background:#d9d9d9;
}

.sidebar-menu .sidebar-live li a:hover {
  background: #d9d9d9;
}
.sidebar-menu .sidebar-live li a.active {
  background: #d9d9d9;
}
.sidebar-menu .sidebar-live li a.active:hover {
  background:#d9d9d9;
}

@media screen and (max-width: 1400px) {
  .sidebar-menu {
    overflow-y: scroll;
    width: 30%;
  }
}


@media screen and (max-width: 992px) {
  .sidebar-menu {
    overflow-y: scroll;
	  font-size: 5px;
    width: 30%;
  }
	
}






.top-section {
  padding: 30px 70px 30px 90px;
}


.top-section_1600 {
  padding: 30px 70px 30px 90px;
}

@media screen and (max-width: 1600px) {
	.top-section_1600 .profile-image{
    width: 100%;
  }
}


.profile-image {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
}
.profile-image img {
  width: 100%;
}




.profile-text h3{
  text-align: center;
  margin-bottom: 5px;
  color: #404040;
  font-size: 18px;
  font-family: 'robotobold';
}

.profile-text p{
  text-align: center;
  margin-bottom: 5px;
  color: #404040;
  font-size: 18px;
  font-family: 'robotobold';
}


.account_nav{
 
  padding-top: 230px;
  float: right;
  width: 80%;
  height:990px;
  background-color:white;
	
}






@media screen and (max-width: 1400px){
	.account_nav{
		  padding-top: 230px;
		  float: right;
		  width: 70%;
		  text-align: center;
		  background-color:white;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 990px){
	.account_nav{
	  padding-top: 230px;
	  float: right;
	  width: 100%;
		overflow-y: scroll;
	  
	  text-align: center;
	  background-color:white;
	}
}

.account_navigation{
	display:inline-block;
	text-align: center;

}

.account_navigation ul{
	display:inline-block;
	text-align: center;

}

.account_navigation ul li{
	padding:0px 20px 0px 20px;

}

.profile_navigation {
	float:left;

}

.profile_navigation .header{
	display: flex;
	width:60%;
}

.profile_navigation .card{
	width:700px;
	
}

.profile_navigation .content .userpage{
	position: relative;
	width:1100px;
	
	
}


.tab-pane{
	width:100%;
}

.account_user{
	height:700px;
}


.streaming_browser{
  padding-top: 100px;
  float: right;
  width: 80%;
  background-color:white;
	
}

.streaming_browser iframe{
	width:100%;
	height:500px;
	
}

.streaming_control{
	text-align: center;
	border: 1px solid grey;
	display: inline-block;
	margin: 50px;
	padding-bottom: 195px;
	width: 90%;
	
}

.streaming_control .media_intro{
	display: flex;
	
}
.toggle-menu ul{
  width: 100%;
  display: inline;
  padding: 20px;
  margin-top: 30px;
  background: #6cc0f7;
  color: white
  font-size: 18px;
}
.toggle-menu:hover {
  color: white;
}


@media screen and (max-width: 1600px){
	.streaming_browser{
		  padding-top: 230px;
		  width:100%;
		  text-align: center;
		  background-color:white;
	}
	
	.streaming_browser iframe{
	width:75%;
	float: inherit;
	height:500px;
	}
	
	.streaming_control{
	width:70%;
	float:right;
	}
}

@media screen and (max-width: 1200px){
	.streaming_browser{
		  padding-top: 200px;
		  width:100%;
		  text-align: center;
		  background-color:white;
	}
	
	.streaming_browser iframe{
	width:75%;
	float: inherit;
	height:500px;
	}
	
	.streaming_control{
	width:70%;
	float:right;
	}
}

@media screen and (max-width: 990px){
	.streaming_browser{
	  padding-top: 100px;
	  float: right;
	  width: 100%;
	  text-align: center;
	  background-color:white;
	}
	
	.streaming_browser iframe{
	width:100%;
	float: inherit;
	height:500px;	
	}
	.streaming_control{
	float: inherit;
	width:90%;
	}
}



.vod_browser{
  width:100%;
  padding: 20px;

}
.vod_browser iframe{
	width:100%;
	height:500px;
}

.vod_recorddate{
  padding: 20px;
  margin:20px;
  width: 700px;
}

.vod_recorddate{
  font-size: 20px;
color: dimgrey;
}

.record_comment{
  display: inline-block;
  padding: 20px;
  margin:10px 20px 20px 20px;
  width: 700px;
  height:270px;
  font-size: 20px;
  color: dimgrey;
}

@media screen and (max-width: 1200px){
	.vod_browser{
		 width: 100%;
	}
	
	.vod_recorddate{
		width:100%;
	}
	
}

@media screen and (max-width: 1200px){
	.vod_browser{
		 width: 100%;
	}
	
	.vod_recorddate{
		width:500px;
	}
	
	.record_comment{
		width:100%;
	}
}





.main-navigation {
  margin: 30px 0;
}
.main-navigation li {
  display: block;
}
.main-navigation li a {
  padding: 15px 85px;
  display: block;
  color: #404040;
  font-size: 14px;
}
.main-navigation li a i {
  margin-right: 15px;
  font-size: 24px;
}
.main-navigation li a:hover {
  background: #d9d9d9;
}
.main-navigation li a.active {
  background: #d9d9d9;
}
.main-navigation li a.active:hover {
  background:#d9d9d9;
}

.social-icons {
  display: block;
  padding: 30px 40px;
}
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.social-icons a {
  font-size: 18px;
  color: white;
}
.social-icons a:hover {
  color: #282e35;
}

.responsive-header {
  background: white;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .responsive-header .main-navigation {
    margin-top: 10px;
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header p {
    color: black;
  }
}
@media screen and (max-width: 992px) {
  .responsive-header .profile-image {
    float: left;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  .responsive-header .profile-content {
    text-align: left;
    margin-top: -20px;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .top-section {
	padding-top: 100px;
    padding-bottom: 20;
	  width: 100%;
	  height: 80%;
  }
	
}




@media screen and (max-width: 992px) {
  .main-navigation a {
  }
  .main-navigation a.active {
    background: #d9d9d9 !important;
  }
  .main-navigation a:hover {
    background: #d9d9d9 !important;
  }
}



/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding-top: 100px;
  background-color:white;
}


.swiper-wrapper{
	position: absolute;
	z-index: 6;
	width: 200px;
	height:200px;
}
#post{
	align-content: center;
	padding-top: 70px;
	border-top :1px solid #cccccc;
	text-align: center;
	
}



.post-image p {
	position:absolute;
	text-align: center;
	top:50px;
	display: block;
	font-size: 20px;
	font-family: "Noto Sans DemiLight", "Malgun Gothic";
	-webkit-font-smoothing: antialiased;
}

.
.post-image img {
  background-size:cover;
  align-content: center;
  background-position: center;
  width: 70%;
	padding-bottom: 80px;
 
}

@media screen and (max-width: 1600px) {
	.post-image{
		 width: 50%;
	}
}

.post_content{
	border-top: 1px solid grey;
	padding-top:50px;
}

.navbar-header img{
	width: 50px;
	margin-left:15px;
}

@media screen and (max-width: 990px) {
	.navbar-header img{
    width: 30px;
		margin-top:15px;
	margin-left:15px;
	}
}

@media screen and (max-width: 990px) {
.header-custom .nav-tabs-navigation{
	
	}
}
.post-story{
	font-size:20px;
}

.blog-text{
  font-family: 'robotobold';
  color: #404040;
  margin-bottom: 30px;
}

.blog-text .post_content{
	font-size:20px;
}


.tab_container{
	height:590px;
}





/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
#footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px;
}
#footer p.copyright-text a {
  color: #5f6d7e;
}
#footer p.copyright-text a:hover {
  color: #6cc0f7;
}


/*---------------------------------------------------------
 6. editer
-------------------------------------------------------- */
#editer{
	
}

#editer{
	text-align: center;
	height:400px;
}

#editer input{
	color:black;
}



/*---------------------------------------------------------
 6. post_list
-------------------------------------------------------- */
#post_list th{
	color:#595959;
}

#post_list tr{
	color:#595959;
}






/*---------------------------------------------------------
 6. modal
-------------------------------------------------------- */


